body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%; }

h1 {
  font-size: 24px;
  margin: 0px; }

p {
  font-size: 14px; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: underline; }

#buttonbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 20px;
  z-index: 1000000; }

/*LOADING SCREEN*/
#landing-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
  overflow-y: scroll; }

#background-landing {
  background: linear-gradient(135deg, #004a74, #001d2e);
  height: 100%;
  width: 100%; }

/*HEADER*/
#header {
  margin-top: -133px;
  top: auto;
  font-size: 14px;
  line-height: 1.466;
  letter-spacing: -0.030em;
  position: absolute;
  z-index: 20000;
  width: 100%;
  height: 200px;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  transition: top .75s ease;
  -webkit-transition: top .75s ease; }

.main {
  position: relative;
  height: 100%; }

.bounds {
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 5px; }

.brand {
  top: 30px;
  width: 126px;
  left: 15px;
  border: 0; }

#header .brand img {
  width: 30%;
  height: auto;
  max-width: 120px;
  margin-top: 139px;
  border: 0; }

.header-text {
  height: 100%;
  padding: 0 10px 32px;
  font-weight: 700;
  color: #0077c8;
  white-space: nowrap; }

/*BODY*/
.body {
  position: absolute;
  font-family: "Roboto", sans-serif; }

.text-module {
  display: block;
  font-weight: 100;
  font-size: 30px;
  line-height: 1.06;
  letter-spacing: -0.05em;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: white; }

/*IMAGE SLIDER*/
.feature-slider {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 73%;
  margin-left: auto;
  margin-right: auto; }

.enter-vr:hover {
  cursor: pointer; }

/* http://www.menucool.com */
#sliderFrame,
#sliderFrame div {
  box-sizing: content-box;
  width: 100%;
  max-width: 320px; }

#sliderFrame {
  margin: 0 auto;
  /*center-aligned*/ }

#slider,
#slider .sliderInner {
  width: 320px;
  height: 250px;
  /* Must be the same size as the slider images */
  border-radius: 3px; }

#slider {
  background-color: white;
  position: relative;
  margin: 0 auto;
  /*center-aligned*/
  transform: translate3d(0, 0, 0);
  box-shadow: 0px 1px 5px #999999; }

.bgLayer {
  background-size: contain; }

.mc-caption {
  display: none; }

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink,
#slider .video {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

#slider .video {
  background: transparent url(video.png) no-repeat 50% 50%; }

.img-fluid {
  width: 100%; }

/* Caption styles */
#slider .mc-caption {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 10px 0;
  /* 10px will increase the height.*/
  left: 0px;
  bottom: 0px;
  top: auto;
  overflow: hidden;
  font: bold 14px/20px Arial;
  color: #EEE;
  text-align: center;
  background: rgba(0, 0, 0, 0.3); }

#slider .mc-caption a {
  color: #FB0; }

#slider .mc-caption a:hover {
  color: #DA0; }

/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper {
  top: 250px;
  text-align: center;
  background: none;
  position: relative;
  z-index: 3; }

/* each bullet */
#slider .navBulletsWrapper div {
  width: 11px;
  height: 11px;
  font-size: 0;
  color: White;
  /*hide the index number in the bullet element*/
  background: transparent url(../assets/bullet.png) no-repeat 0 0;
  background-size: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;
  cursor: pointer;
  margin: 0 6px;
  /* set distance between each bullet*/ }

#slider .navBulletsWrapper .active {
  background-position: 0 -11px; }

/* --------- Others ------- */
#slider img,
#slider > b,
#slider a > b {
  position: absolute;
  border: none;
  display: none; }

#slider .sliderInner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

#slider > a,
#slider video,
#slider audio {
  display: none; }

#slider div {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel {
  position: initial !important; }
